<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand my-home" [routerLink]="['']" >⌂</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <div app-navbar-category *ngFor="let category of categories" [navbarCategoy]="category" ></div>
    </div>
  </div>
  <div [routerLink]="['cart/1']" >Cart</div>
</nav>