<div class="card" style="width: 18rem;">
  <img [src]="productItem.image" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> {{productItem.name}} </h5>
    <p class="card-text"> {{productItem.description}} </p>
    <div> €{{productItem.price}} </div>
    <a class="btn btn-success" (click)="sendToChart(productItem)" >Add to Cart</a>
  </div>
</div>